.login-background {
  background: linear-gradient(to bottom right, #4e54c8, #8f94fb);
  color: white;
}

.login-background {
  background: linear-gradient(to bottom right, #4e54c8, #8f94fb);
  color: white;
  height: 100%;
}
